<h2>Todos os posts registrados:</h2>
<br>

{{#each postagem}}
    <h3>{{titulo}}</h3>
    <p>{{descricao}}</p>
    <a href="deletar/{{id}}"><button>Excluir Postagem</button></a>
    <hr>
    <hr>
{{/each}}