<h2>Login</h2>
<small>Entre agora mesmo e acesse os conteúdos.</small>
<hr>
<div class="card">
    <div class="card-body">
        
        <form method="post" action="/usuario/login">
            <label>E-mail:</label>
            <input type="email" class="form-control mb-3" name="email" required>

            <label>Senha:</label>
            <input type="password" class="form-control mb-4" name="senha" required>

            <button style="width: 100%;" class="btn btn-success" type="submit">Logar</button>
        </form>
        
    </div>
</div>