<h2>{{postagem.titulo}}</h2>
<hr>
<div class="d-flex flex-row justify-content-between">
    <small><b>Categoria: </b> {{postagem.categoria.nome}}</small>
    <small><b>Data de publicação:</b> {{postagem.data}}</small>
</div>

<br>
<div class="card">
    <div class="card-box p-3">
        <p>{{postagem.conteudo}}</p>
    </div>
</div>