<form action="/postagem-adicionada" method="post">
    <label>Título:</label>
    <input type="text" name="tituloPost">

    <br><br>

    <label>Descrição/Legenda:</label>
    <textarea name="descricaoPost" style="resize: none;"></textarea>

    <br><br>

    <button type="submit">Cadastrar</button>
</form>